---
import FeatureSection from "../components/FeatureSection.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="404 | Upryzing" >
<pre role="presentation" aria-label="Ascii art of a cat with a purple ball of yarn">
         <span>.-o=o-.</span>
     ,  <span>/=o=o=o=\</span> .--.
    _|\<span>|=o=O=o=O=|</span>    \
__.'  a`<span>\=o=o=o=</span>(`\   /
'.   a 4/`|.-""'`\ \ ;'`)   .---.
  \   .'  /   .--'  |_.'   / .-._)
   `)  _.'   /     /`-.__.' /
    `'-.____;     /'-.___.-'
            `"""`</pre>
<h1 id="title">404, page not found.</h1>
</DefaultLayout>

<style is:global>
    @import url("/fonts/jbmono.css");
    main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 3em;
    }

    pre {
        font-size: 1.5em;
        font-family: "Jetbrains Mono", monospace;
        opacity: .3;
        margin: 0;
        user-select: none;
        -webkit-user-select: none;
    }

    span {
        color: var(--accent);
    }
</style>