---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Upryzing">
	<main>
		<h1>Upryzing</h1>
		<p>
			Your conversations, your way.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: 3rem;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		color: var(--accent);
		font-size: 4rem;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 1em;
	}
</style>
