---
import FeatureSection from "../components/FeatureSection.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Icon } from "astro-icon/components";
import TBDPlaceholder from "../../public/assets/tbd_placeholder.webp";
---

<DefaultLayout title="Upryzing">
		<section id="tag">
			<div class="overlay" role="presentation">
				<Icon
					name="spinny"
					class="thingy topleft"
					role="presentation"
				/>
				<Icon
					name="spinny"
					class="thingy bottomright"
					role="presentation"
				/>
			</div>
			<div class="hero-container">
				<div class="slogan-container">
					<Icon id="logo" class="hero-logo narrow" size={128} fill="currentColor" name="logo/mc" />
					<div class="slogan">
						<h1>Your conversations,<br />your way.</h1>
					</div>
					<div class="buttons">
						<a href="https://cloud.disroot.org/apps/forms/s/FM44AkPn9wdHgXM2DPj3oTHY"
							><button id="signup" class="ripple"
								>Sign up for early access <Icon
									name="material-symbols:arrow-forward"
								/></button
							></a
						>
						<!-- TODO: uncomment after launch
						<a href="#"
							><button id="login" class="ripple"
								>Log in <Icon
									name="material-symbols:arrow-forward"
								/></button
							></a
						>
					-->
					</div>
				</div>

				<Icon id="logo" class="hero-logo wide" size={256} fill="currentColor" name="logo/mc" />
			</div>
			
		</section>
		<!-- TODO: rewrite as needed, get actual images
		<FeatureSection
			title="Make it fun"
			titleId="section-fun"
			description="Upryzing is a new kind of social platform built by the community, for the community. Chat with your friends, rizz up that egirl, shitpost everywhere, and whatever else you do on Discord, now on an open source app."
			type="left"
			image={TBDPlaceholder}
			alt="Placeholder"
			role="complementary"
		/>
		<FeatureSection
			title="Make it yours"
			titleId="section-you"
			description="Beautiful out of the box, but if it's not your style, that's okay! Customize everything with CSS themes, or use the plentiful selection of native and web clients made by people just like you. "
			type="right"
			image={TBDPlaceholder}
			alt="Placeholder"
			role="complementary"
		/>
		<FeatureSection
			title="Make it awesome"
			titleId="section-awesome"
			description="Upryzing is completely open source, and community powered. Found a bug? Send a bug report, or even better, a pull request. Hate our guts, or want to build your own platform? Host your own Upryzing, we don't mind. "
			type="left"
			image={TBDPlaceholder}
			alt="Placeholder"
			role="complementary"
		/>
		<FeatureSection
			title="So, what are you waiting for?"
			titleId="section-callout"
			type="centre"
			actions={[
				{
					title: "Sign Up",
					icon: "material-symbols:arrow-forward",
					link: "#",
				},
			]}
			callout
			role="complementary"
		/>
	-->
</DefaultLayout>

<style>
	main section:nth-child(2) {
		padding-top: 10rem;
		border-radius: 25px 25px 0 0;
	}

	.hero-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.slogan > h1 {
		font-size: 6vmin;
		margin: unset;

		white-space: nowrap;
	}

	.slogan-container {
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}

	.hero-logo {
		color: var(--accent);
	}

	.hero-logo.narrow {
		display: none;
	}

	.hero-logo.wide {
		margin-right: 15vw;

		animation: float 3s ease-in-out alternate infinite;
	}

	section#tag div.buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		user-select: none;
		-webkit-user-select: none;
	}

	section#tag div.buttons a {
		text-decoration: none;
	}

	section#tag div.buttons button {
		font-family: "Inter", sans-serif;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border: none;
		border-radius: 99999px;
		padding: 15px 20px;
		font-weight: 600;
		font-size: 1.5em;

		transition: all 500ms ease-in-out;
		transition: font-size 500s ease-in-out;
	}

	section#tag div.buttons button:hover {
		cursor: pointer;
	}

	section#tag div.buttons button.ripple {
		background-position: center;
		transition: background 0.8s;
	}

	section#tag div.buttons button.ripple#signup:hover {
		background: var(--accent)
			radial-gradient(circle, transparent 1%, var(--accent) 1%)
			center/15000%;
	}

	section#tag div.buttons button.ripple#signup:active {
		background-color: hsl(var(--accent-hue), 90%, 75%);
		background-size: 100%;
		transition: background 0s;
	}

	section#tag div.buttons button.ripple#login:hover {
		background: hsl(var(--accent-hue), 20%, 15%)
			radial-gradient(
				circle,
				transparent 1%,
				hsl(var(--accent-hue), 20%, 15%) 1%
			)
			center/15000%;
	}

	section#tag div.buttons button.ripple#login:active {
		background-color: hsl(var(--accent-hue), 50%, 10%);
		background-size: 100%;
		transition: background 0s;
	}

	section#tag div.buttons button#signup {
		background-color: var(--accent);
	}

	section#tag div.buttons button#login {
		background-color: hsl(var(--accent-hue), 20%, 15%);
		color: hsl(var(--accent-hue), 100%, 95%);
	}

	.overlay {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 115%;
		width: 100%;
		overflow: clip;
	}

	section#tag {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100vh;

		padding-left: 8%;
		padding-right: 8%;
		gap: 2rem;

		transition: all 500ms ease-in-out;
		overflow: visible;
	}

	.thingy {
		--size: 780px;
		--timing: 50s;
		display: block;
		width: var(--size);
		height: var(--size);
		color: hsl(var(--accent-hue), 100%, 75%);
		opacity: 0.05;

		transition: all 500ms ease-in-out;
	}

	.thingy.topleft {
		--offset: -150px;
		position: absolute;
		top: var(--offset);
		left: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.thingy.bottomright {
		--offset: -100px;
		position: absolute;
		/*
			Since the container is a little bit lower, we have to adjust the offset by an arbitrary amount
			I think 90px is a reasonable amount. Webdevs, please adjust as needed.
		*/

		bottom: calc(var(--offset) + 90px);
		right: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	@media screen and (max-width: 1600px) {
		.hero-logo.wide {
			display: none;
		}

		.hero-logo.narrow {
			display: block;
		}
	}

	@media screen and (max-width: 870px) {
		.thingy {
			--size: 500px;
			--timing: 30s;
		}

		.thingy.bottomright {
			--offset: -50px;
		}

		.thingy.topleft {
			--offset: -75px;
		}

		section#tag div.buttons button {
			font-size: 1em;
		}
	}
	@media screen and (max-width: 690px) {
		section#tag div.buttons button {
			font-size: 1em;
		}
	}

	@media screen and (max-width: 490px) {
		section#tag div.buttons button {
			font-size: 1em;
		}
	}

	@media screen and (max-width: 490px) {
		section#tag div.buttons button {
			font-size: 1em;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.thingy {
			animation-play-state: paused;
			transition: none;
		}
	}

	@keyframes float {
		from {
			transform: translatey(0px);
		}
		to {
			transform: translatey(-25px);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
</style>
