---
import FeatureSection from "../components/FeatureSection.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Upryzing">
	<main>
		<section id="tag">
			<div class="overlay">
				<Icon name="spinny" class="thingy topleft" />
				<Icon name="spinny" class="thingy bottomright" />
			</div>
			<div class="slogan">
				<h1>Your conversations,</h1>
				<h1>your way.</h1>
			</div>
			<div class="buttons">
				<a href="#"
					><button id="signup"
						>meow <Icon
							name="material-symbols:arrow-forward"
						/></button
					></a
				>
				<a href="#"
					><button id="login"
						>mrrp <Icon
							name="material-symbols:arrow-forward"
						/></button
					></a
				>
			</div>
		</section>
		<FeatureSection
			title="Make it fun"
			description="Upryzing is a new kind of social platform built by the community, for the community. Chat with your friends, rizz up that egirl, shitpost everywhere, and whatever else you do on Discord, now on an open source app."
			type="left"
			image="/assets/tbd_placeholder.webp"
			alt="Image to be determined"
		/>
		<FeatureSection
			title="Make it yours"
			description="Beautiful out of the box, but if it’s not your style, that’s okay! Customize everything with CSS themes, or use the plentiful selection of native and web clients made by people just like you. "
			type="right"
			image="/assets/tbd_placeholder.webp"
			alt="Image to be determined"
		/>
		<FeatureSection
			title="Make it awesome"
			description="Upryzing is completely open source, and community powered. Found a bug? Send a bug report, or even better, a pull request. Hate our guts, or want to build your own platform? Host your own Upryzing, we don’t mind. "
			type="left"
			image="/assets/tbd_placeholder.webp"
			alt="Image to be determined"
		/>
		<FeatureSection
			title="So, what are you waiting for?"
			type="centre"
			actions={[
				{
					title: "Sign Up",
					icon: "material-symbols:arrow-forward",
					link: "#"
				}
			]}
			callout
		/>
	</main>
	<footer></footer>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
	}

	main section:nth-child(2) {
		padding-top: 10rem;
		border-radius: 25px 25px 0 0;
	}

	.slogan > h1 {
		font-size: 5em;
		margin: unset;

		white-space: nowrap;

		transition: font-size 0.5s cubic-bezier(0.44, -0.2, 0.23, 1.11);
	}

	section#tag div.buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	section#tag div.buttons a {
		text-decoration: none;
	}

	section#tag div.buttons button {
		font-family: "Inter", sans-serif;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border: none;
		border-radius: 99999px;
		padding: 15px 20px;
		font-weight: 700;
		font-size: 1.5em;

		transition: all 500ms ease-in-out;
	}

	section#tag div.buttons button#signup {
		background-color: hsl(var(--accent-hue), 95%, 82%);
	}

	section#tag div.buttons button#login {
		background-color: hsl(var(--accent-hue), 20%, 15%);
		color: hsl(var(--accent-hue), 100%, 95%);
	}

	.overlay {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 115%;
		width: 100%;
		overflow: clip;
	}

	section#tag {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100vh;

		padding-left: 2rem;
		gap: 2rem;

		transition: all 500ms ease-in-out;
		overflow: visible;
	}

	.thingy {
		--size: 400px;
		--timing: 50s;
		display: block;
		width: var(--size);
		height: var(--size);
		color: hsl(var(--accent-hue), 100%, 75%);
		opacity: 0.05;

		transition: all 500ms ease-in-out;
	}

	.thingy.topleft {
		--offset: -150px;
		position: absolute;
		top: var(--offset);
		left: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.thingy.bottomright {
		--offset: -100px;
		position: absolute;
		/*
			Since the container is a little bit lower, we have to adjust the offset by an arbitrary amount
			I think 90px is a reasonable amount. Webdevs, please adjust as needed.
		*/

		bottom: calc(var(--offset) + 90px);
		right: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	@media screen and (max-width: 802px) {
		.slogan > h1 {
			font-size: 4em;
		}

		.thingy {
			--size: 256px;
			--timing: 30s;
		}

		section#tag div.buttons button {
			font-size: 1em;
		}
	}
	@media screen and (max-width: 650px) {
		.slogan > h1 {
			font-size: 3em;
		}

		section#tag div.buttons button {
			font-size: 0.8em;
		}
	}

	@media screen and (max-width: 490px) {
		.slogan > h1 {
			font-size: 2em;
		}

		section#tag div.buttons button {
			font-size: 0.6em;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
</style>
