---
import Layout from '../layouts/Layout.astro';
import { Icon } from "astro-icon/components";
---

<Layout title="Upryzing">
	<main>
		<section id="tag">
			<div class="overlay">
				<Icon name="spinny" class="thingy topleft"></Icon>
				<Icon name="spinny" class="thingy bottomright"></Icon>
			</div>
			<div class="slogan">
				<h1>Your conversations,</h1>
				<h1>your way.</h1>
			</div>
			<div class="buttons">
				<a href="#"><button id="signup">meow <Icon name="material-symbols:arrow-forward"></Icon></button></a>
				<a href="#"><button id="login">mrrp <Icon name="material-symbols:arrow-forward"></Icon></button></a>
			</div>
		</section>
		<section id="feat1"></section>
		<section id="feat2"></section>
		<section id="feat3"></section>
		<section id="whatyawaitingfor"></section>
	</main>
	<footer></footer>
</Layout>

<style>
	.slogan > h1 {
		font-size: 5em;
		margin: unset;

		white-space:nowrap;

		transition: font-size .5s cubic-bezier(.44,-0.2,.23,1.11);
	}

	section#tag div.buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	section#tag div.buttons a {
		text-decoration: none;
	}

	section#tag div.buttons button {
		font-family: 'Inter', sans-serif;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border: none;
		border-radius: 99999px;
		padding: 15px 20px;
		font-weight: 700;
		font-size: 1.5em;

		transition: all 500ms ease-in-out;
	}

	section#tag div.buttons button#signup {
		background-color: hsl(var(--accent-hue), 95%, 75%);
	}

	section#tag div.buttons button#login {
		background-color: hsl(var(--accent-hue), 20%, 15%);
		color: hsl(var(--accent-hue), 100%, 95%);
	}

	.overlay {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: clip;
	}

	section#tag {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100vh;

		padding-left: 2rem;
		gap: 2rem;

		transition: all 500ms ease-in-out;
	}

	section:not(#tag) {
		background-color: aqua;
		width: 100%;
		height: 100vh;
	}

	.thingy {
		--size: 400px;
		--offset: -120px;
		--timing: 50s;
		display: block;
		width: var(--size);
		height: var(--size);
		color: hsl(var(--accent-hue), 100%, 75%);
		opacity: .05;

		transition: all 500ms ease-in-out;
	}

	.thingy.topleft {
		position: absolute;
		top: var(--offset);
		left: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}


	.thingy.bottomright {
		position: absolute;
		bottom: var(--offset);
		right: var(--offset);
		animation-name: rotate;
		animation-duration: var(--timing);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	@media screen and (max-width: 802px) {
		.slogan > h1 {
			font-size: 4em;
		}

		.thingy {
			--size: 256px;
			--timing: 30s;
		}
		
		section#tag div.buttons button {
			font-size: 1em;
		}
	}
	@media screen and (max-width: 650px) {
		.slogan > h1 {
			font-size: 3em;
		}

		section#tag div.buttons button {
			font-size: .8em;
		}
	}

	@media screen and (max-width: 490px) {
		.slogan > h1 {
			font-size: 2em;
		}

		section#tag div.buttons button {
			font-size: .6em;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
</style>
