---
import FeatureSection from "../components/FeatureSection.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Licenses | Upryzing">
	<main>
		<FeatureSection title="Licenses" type="centre" callout />
        <section>
            <dl>
                <dt>Meow</dt>
                <dd>meowmeow</dd>
                <dt>Meow</dt>
                <dd>meowmeow</dd>
            </dl>
        </section>
	</main>
</Layout>