<footer>
    <header>
        <picture>
            <!-- It's sad that figma doesn't support JXL exports -->
            <source srcset="/public/assets/wm_logo2x.png, /public/assets/wm_logo4x.png 4x">
            <img src="/public/assets/wm_logo2x.png">
        </picture>
    </header>
    <div class="row categories">
        <section class="column">
            <h3>Stuff</h3>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
        </section>
        <section class="column">
            <h3>Legalese</h3>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
        </section>
        <section class="column">
            <h3>Socials</h3>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
            <a href="#">stuff</a>
        </section>
    </div>
    <div class="credits">
        <p>Made with ❤️ by Inderix, Amy and the Upryzing team</p>
        <span role="none" class="dotDivider">·</span>
        <a href="https://github.com/upryzing">Source Code</a>
    </div>
</footer>

<style>
    /* TODO: merge the .column and .row utility classes onto it's own file */
    footer {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--background-emphasis);
    }

    footer header {
        margin-bottom: 1rem;
    }

    footer header img {
        max-width: 15rem;
    }

    footer :is(.row, .column) {
        display: flex;
    }

    footer .row {
        flex-direction: row;
    }

    footer .column {
        flex-direction: column;
    }

    footer .categories {
        gap: 3rem;
    }

    footer .categories .column {
        gap: .2rem;
    }

    footer .categories h3 {
        font-size: 2em;
        margin: 0;
    }

    footer a {
        color: var(--accent);
    }

    footer .credits {
        display: inline-flex;
        align-items: center;
        gap: .5ch;
    }

    footer .credits :is(p, a) {
        font-size: .8em;
    }

    footer .credits .dotDivider {
        font-size: 2em;
    }
</style>