---
import { Icon } from "astro-icon/components";
interface Props {
	variant: "default" | "centred";
	isFilled?: boolean
}

const { variant, isFilled } = Astro.props;
---

<header
	class:list={["headerbar", variant, { filled: isFilled ?? false }]}
	aria-label="Page Header"
>
	<a href="/" aria-label="Go back home">
		<Icon id="logo" size={36} fill="currentColor" name="logo/mc" />
		<Icon
			fill="hsl(var(--accent-hue), 100%, 95%);"
			size={96}
			name="wordmark"
		/>
	</a>
	{
		variant !== "centred" && (
			<div class="actions-container">
				<a class="fedi" href="https://lea.pet/@upryzing" aria-label="Upryzing's Fediverse account">
					<Icon
						fill="hsl(var(--accent-hue), 100%, 95%);"
						size={36}
						name="ph:fediverse-logo"
					/>
				</a>
				<a class="bluesky" href="https://bsky.app/profile/upryzing.app" aria-label="Upryzing's Bluesky account">
					<Icon
						fill="hsl(var(--accent-hue), 100%, 95%);"
						size={36}
						name="ph:butterfly"
					/>
				</a>
				<a class="github" href="https://github.com/upryzing" aria-label="Upryzing's GitHub organisation">
					<Icon
						fill="hsl(var(--accent-hue), 100%, 95%);"
						size={36}
						name="ph:github-logo"
					/>
				</a>
				<a class="discord" href="https://discord.gg/Zst96h5ABV" aria-label="Upryzing's Discord server">
					<Icon
						fill="hsl(var(--accent-hue), 100%, 95%);"
						size={36}
						name="ph:discord-logo"
					/>
				</a>
			</div>
		)
	}
</header>

<style>
	.headerbar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 2rem;
		padding-top: 3rem;

		width: 100%;
		height: 4rem;

		display: flex;
		flex-flow: row nowrap;
		z-index: 10;

		user-select: none;
		-webkit-user-select: none;
	}

	.headerbar.filled {
		background: var(--background-emphasis);
	}
	
	.headerbar a {
		display: block;
	}

	.headerbar a svg,
	.headerbar .actions-container a svg {
		color: hsl(var(--accent-hue), 100%, 95%);
	}

	.headerbar a svg#logo {
		color: hsl(var(--accent-hue), 100%, 82%);
	}

	.headerbar a,
	.headerbar .actions-container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.headerbar.centred {
		justify-content: center;
	}

	.headerbar .actions-container {
		margin-left: auto;
	}
</style>
