---
import { Icon } from "astro-icon/components"
interface Props {
	variant: "default" | "centred";
}

const { variant } = Astro.props;
---

<header class=`headerbar ${variant}`>
	<div class="logo-container">
		<Icon id="logo" size={24} fill="currentColor" name="logo/mc" />
		<Icon fill="hsl(var(--accent-hue), 100%, 95%);" size={96} name="wordmark" />
	</div>
	{ variant !== "centred" && (
			<div class="actions-container">
				<a class="github" href="#">
					<Icon fill="hsl(var(--accent-hue), 100%, 95%);" size={24} name="gh" />
				</a>
				<a class="fedi" href="#">
					<Icon fill="hsl(var(--accent-hue), 100%, 95%);" size={24} name="fedi" />
				</a>
			</div>
		)
	}
</header>

<style>
	.headerbar {
		position: fixed;
		top: 0;
		left: 0;
		padding: 10px;

		width: 100%;
		height: 4rem;

		display: flex;
		flex-flow: row nowrap;
	}

	.headerbar .logo-container svg,
	.headerbar .actions-container a svg {
		color: hsl(var(--accent-hue), 100%, 95%);
	}

	.headerbar .logo-container svg#logo {
		color: hsl(var(--accent-hue), 100%, 75%);
	}

	.headerbar .logo-container,
	.headerbar .actions-container{
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.headerbar.centred {
		justify-content: center;
	}

	.headerbar .actions-container {
		margin-left: auto;
	}
</style>
