<a class="skip-to-content-link" href="#main">
  Skip to content
</a>

<style>
  .skip-to-content-link {
    display: flex;

    align-items: center;
    background:  var(--accent);
    color: var(--background);
    height: 60px;
    left: 0;
    right: 0;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;

    text-decoration: none;

    z-index: 20;
  }

  .skip-to-content-link:focus {
    transform: translateY(0%);
  }
</style>